<form method="post" action="/landmarks/:id">
  <label>create a new landmark</label><br></br>
  name: <input type="text" name="landmark[name]" id="landmark_name"><br></br>
  when was it completed? 
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" value="Create New Landmark">
</form>
