<form method="post" action="/figures/show/:id">
  <label>create a new figure</label><br></br>
  name: <input type="text" name="figure[name]" id="figure_name"><br></br>

  <label>add and/or select existing titles</label><br></br>
  <input type="text" name="title[name]" id="new_title"><br></br>
  <% Title.all.each do |t| %>
  <input type="checkbox" name="figure[title_ids][]" id="title_<%= t.id %>"><%= t.name %>
  <% end %>

  <label>add and/or select existing landmarks</label><br></br>
  <input type="text" name="landmark[name]" id="new_landmark"><br></br>
  <% Landmark.all.each do |land| %>
  <input type="checkbox" name="figure[landmark_ids][]"id="landmark_<%= land.id %>"><%= land.name %>
  <% end %>

  <input type="submit" value="Create New Figure">
</form>